$navigationActive: #E8B950;
$navigationHover: hotpink;
$timeWidgetColor: #929292;
$navigationColor: #507FE8;
$logoColor: #ef6363;

%fontFamily {
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

.pulse {
    animation-name: l;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-timing-function: ease;
    animation-fill-mode: both;
    transform-origin: center;
}

@-webkit-keyframes l {
    0% {transform: scale(0.5, 0.5); opacity: 0.0;}
    50% {opacity: 1.0;}
    100% {transform: scale(1.2, 1.2); opacity: 0.0;}
}

.pulseHeader {
  display: flex;
	flex-flow: row wrap;
  align-items: center;
	margin: 12px 20px 12px 20px;
	background: #fff;

  h2 {
		flex-grow: 1;
    font-size: 20px;
    padding: 20px;
  }

  h2, a {
    @extend %fontFamily;
    font-weight: 300;
  }

  .logo_container {
    flex-grow: 1;
    i {
      font-size: 30px;
      color: $logoColor;
    }
  }

  nav {
		display: flex;
		flex-grow:8;
	    a {
				cursor: pointer;
	      text-decoration: none;
	      font-size: 20px;
	      background: $navigationColor;
	      color: #fff;
	      padding: 20px;
				transition: all .3s ease;
	      &.active {
	        background: $navigationActive;
	      }
				&:hover {
	        background: $navigationHover;
	      }
	    }
  }

  .timedate_wrapper {
  	display: flex;
  	flex-grow:5;
  	justify-content: flex-end;
  	padding: 10px;

  	.date_wrapper, .hour_wrapper {
  		display: flex;
  		align-items: center;
      width: 160px;

  		.date_container, .hour_container {
  			  @extend %fontFamily;
  				padding: 0 15px;
  				color: $timeWidgetColor;
  		}

  		i {
  			font-size: 25px;
  			color: $timeWidgetColor;
  		}

  	}
  }

}

/* Media query for mobile resolutions */

@media (max-width: 772px) {
  .pulseHeader {
    flex-flow: row wrap;
    nav {
      justify-content: center;
    }
    .timedate_wrapper {
      justify-content: center;
      margin: 15px 0;
    }
  }
}
