.availability_wrapper {
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  display: flex;
  flex-flow: row wrap;
  align-content: space-between;
  // min-height: calc(100% - 127px);
  // margin-bottom: -100px;

  .inner_availability {
    background: #fff;
    width: calc(100% - 39px);
    height: 300px;
    margin: 30px 20px;
    .pod_name {
      padding: 20px;
      font-size: 20px;
    }
  }
  .calendar_container {
    display: flex;
    align-items: baseline;
    margin: 15px 30px;
    .region_name {
      width:200px;
    }
    .pod_calendar {
      background: #7cef7c;
      height: 10px;
      width: 100%;
    }
  }
}
