$navigationColor: #507FE8;

.app_wrapper {
	background: #f1f1f1;
	height: calc(100vh - 20px);
	min-width: 340px;
}

h1 {
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  font-weight: 300;
}

h1 {
  font-size: 15px;
  background: $navigationColor;
  color: #fff;
  padding: 10px 20px;
}

@media (max-width: 620px) {
	.app_wrapper {
		height: 100%;
	}
}
